<settings>
    <setting propertyKey="@Properties.hrWarn" title="@Strings.hrWarnTitle">
        <settingConfig type="numeric" min="60" max="220"/>
    </setting>
    <setting propertyKey="@Properties.hrAlert" title="@Strings.hrAlertTitle">
        <settingConfig type="numeric" min="60" max="220"/>
    </setting>
    <setting propertyKey="@Properties.pwrWarn" title="@Strings.pwrWarnTitle">
        <settingConfig type="numeric" min="0" max="2000"/>
    </setting>
    <setting propertyKey="@Properties.pwrAlert" title="@Strings.pwrAlertTitle">
        <settingConfig type="numeric" min="0" max="2000"/>
    </setting>
    <setting propertyKey="@Properties.npWarn" title="@Strings.npWarnTitle">
        <settingConfig type="numeric" min="0" max="2000"/>
    </setting>
    <setting propertyKey="@Properties.npAlert" title="@Strings.npAlertTitle">
        <settingConfig type="numeric" min="0" max="2000"/>
    </setting>
    <setting propertyKey="@Properties.wPrime" title="@Strings.wPrimeTitle">
        <settingConfig type="numeric" min="5000" max="50000"/>
    </setting>
    <setting propertyKey="@Properties.cp" title="@Strings.cpTitle">
        <settingConfig type="numeric" min="50" max="600"/>
    </setting>
    <setting propertyKey="@Properties.hrRest" title="@Strings.hrRestTitle">
        <settingConfig type="numeric" min="30" max="100"/>
    </setting>
</settings>
